
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    margin: 0;
    padding: 0;
    background-color: #202632;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-family: 'Manrope'
}

.card {
    background-color: #313a49;
    width: 400px;
    height: 250px;
    border: none;
    border-radius: 15px;
    text-align: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card  > h6 {
    color: #4bd594;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2.5px;
}

.card  > p {
    color: aliceblue;
    font-weight: bolder;
    font-size: 20px;
    opacity: .859;
    padding: 0 10px;
}

.card > img {
    
    width: 80%;
}

.btn {
    background-color: rgb(71, 207, 143);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    bottom: -20px;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 2px 14px 74px 20px rgba(71, 207, 143, .86);
    -webkit-box-shadow: 2px 14px 74px 5px rgba(71, 207, 143, .86);
}
